@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
}

/* ##################################### */
/* ##################################### */
/* ##################################### */

/* Color Styling: */
body {
  background-color: var(--bg);
  color: var(--text)
}

nav {
  background-color: var(--main);
  color: var(--mtxt)
}

/* ##################################### */
/* ##################################### */
/* ##################################### */

/* Layout: */
nav,main,body {
  width: 100%;
}

nav,main {
  position: absolute;
  left: 0;
}

nav {
  height: 10vh;
  bottom: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

main {
  height: 90vh;
  top: 0;
}

/* ##################################### */
/* ##################################### */
/* ##################################### */

/* General: */
nav div.nav-item {
  font-size: 175%;
}

nav div.nav-item.active {
  color: var(--a-color);
}

nav div.nav-item:hover {
  cursor: pointer;
  color: var(--a-color);
}

main h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", Arial Black, sans-serif;
}

nav,main {
  font-family: "Open Sans", Arial, sans-serif;
}

/* ##################################### */
/* ##################################### */
/* ##################################### */

/* Things for JS: */

.center {
  text-align: center;
}

.hard.center {
  display: flex;
  justify-content: center;
}

.danger {
  background-color: #ba1e1e;
  color: #fff;
}

.danger:hover {
  background-color: #da1818;
}

.danger * {
  background-color: #ba1e1e;
  color: #fff;
}

.danger:hover * {
  background-color: #da1818;
}

.delete {
  padding: 1%;
}

.delete * {
  border: none;
  outline: none;
  background: none;
}

.users li {
  list-style: none;
  margin-bottom: 10%;
}

.users li div {
  background: var(--main);
  padding: 5%;
  border-radius: 10px;
}
